# MacOS hidden files
**/.DS_Store

# IDE settings
.vscode
.idea

# Python
**/__pycache__

# Built dist and egg-info files
/dist
/*.egg-info

# Jupyter Notebook
**/.ipynb_checkpoints

# Configuration and secret files
/.env
/api-key.txt

# Playground
/playground

# Large model weights
/models
